.svg-container {
  width: 100%;
  background: #fff;
  margin: 0 auto;
  padding-bottom: 16px;
}

.svg-container-parent {
  margin: 0 12px;
}
.m__ott--b1__icon {
  width: 377px;
}

.m__f--txt-container {
  max-width:520px;
}
.m__pr--h1 {
  width:initial!important;
}
// .m__pr--description__left,.m__pr--description__right{
//   display:none;
// }
@media only screen and (max-width: 600px) {
  .h__nav {
    display:none;
  }
  .m__f {
    padding-top: 12px!important;
    padding-bottom: 24px!important;
  }
  .m__f--face {
    width: 300px;
  }
  .container-face {
    display:flex;
    flex-direction:column;
  }
  .m__f--face > img {
    display: block;
    width: 100%;
    height: auto;
  }
  .m__f--txt-container {
  }
  .m__f--txt {
    padding: 0 20px;
    text-align:center;
  }
  .m__f--txt:before, .m__f--txt:after {
    margin: 25px 0;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .m__f .container {
    justify-content: end!important;
    width: 100%;
  }
  .container {
    width:initial!important;
  }
  .numeric-container {
    display:flex;
    flex-direction:column;
    align-items:baseline!important;
    padding: 0 25;
  }
  .numeric-container--second {
    flex-direction:column-reverse;
  }
  .numeric-container .m__ott--b1__icon {
    align-self:center;
    padding: 0;
  }
  .numeric-container .m__ott--b1__txt, .m__ott--b2__txt, .m__ott--b3__txt {
    width:100%;
    margin-bottom: 30px;
  }
  .m__pr-header-container {
    width: 100%;
    background: white;
    display: inline-block;
    text-align: center;

    .m__pr--h1 {
      line-height: 45px;
      position:initial!important;
    }
  }

  .m__pr--block{
    display:flex;
    flex-direction:column;
    height: auto!important;

    .m__pr--block__left, .m__pr--block__right {
      width:100%!important;
      p {display:none}
      min-height:320px;
    }

    .m__pr--description__left{
      background: #272727;
      min-height:141px;
      color: #d8d8d8;
      text-align:center;
      width:100%;
      & > div {
        padding: 12px;
      }
      & > p {
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 1px;
      }
    }

    .m__pr--description__right {
      background: #e0e6eb;
      min-height:141px;
      color: #000;
      text-align:center;
      flex: 1 0 auto;
      & > div {
        padding: 12px;
      }
      & p {
        font-size: 14px;
        line-height: 50px;
        background-color: #fff;
        display:inline;
        padding:6px;
      }
    }
  }

  .m__pr--btn{
    position:relative;
  }

  .m__se {
    flex-direction:column;
    .m__se--element {
      width:100%;
      height:auto; 
      min-height:224px;
      padding-left: 20px;
      padding-bottom: 20px;
    }
  }
}































